<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sz.wechat.dao.ComplaintMapper">
	<!-- 实体对象 -->
	<resultMap id="BaseResultMap" type="com.sz.wechat.entity.Complaint">
		<id column="PID" property="pid" jdbcType="VARCHAR"/>
		<result column="COMPANYID" property="companyid" jdbcType="VARCHAR"/>
		<result column="COMPLAINTIME" property="complaintime" jdbcType="VARCHAR"/>
		<result column="DISPOSESTATUS" property="disposestatus" jdbcType="VARCHAR"/>
		<result column="COMPLAINCONTENT" property="complaincontent" jdbcType="VARCHAR"/>
		<result column="DISPOSETIME" property="disposetime" jdbcType="VARCHAR"/>
		<result column="DISPOSEDEP" property="disposedep" jdbcType="VARCHAR"/>
		<result column="COMPLAINTYPE" property="complaintype" jdbcType="VARCHAR"/>
		<result column="DISPOSERESULT" property="disposeresult" jdbcType="VARCHAR"/>
		<result column="OPENID" property="openid" jdbcType="VARCHAR"/>
		<result column="COMPLAINPHOTO" property="complainphoto" jdbcType="BLOB"/>
		<result column="FEEDBACK" property="feedback" jdbcType="VARCHAR"/>
		
	</resultMap>
	<!-- 数据字段 -->
	<sql id="Base_Column_List">
		PID, COMPANYID, COMPLAINTIME, DISPOSESTATUS, COMPLAINCONTENT,  DISPOSETIME, DISPOSEDEP, COMPLAINTYPE,DISPOSERESULT,OPENID,COMPLAINPHOTO,FEEDBACK
	</sql>
	
	<!-- 查询 -->
	<select id="getComplaintScoreByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT  <include refid="Base_Column_List"/> FROM SZ_COMPLAINT WHERE (to_char(sysdate,'yyyymmdd')-COMPLAINTIME)&lt;= 10000 AND COMPANYID = #{companyid,jdbcType=VARCHAR} and DISPOSESTATUS=#{status,jdbcType=VARCHAR}
	</select>
	<select id="getComplaintScoreByCompanyIdAndOpenid" resultMap="BaseResultMap">
		SELECT  <include refid="Base_Column_List"/> FROM SZ_COMPLAINT WHERE (to_char(sysdate,'yyyymmdd')-COMPLAINTIME)&lt;= 10000 AND COMPANYID = #{0} AND OPENID=#{1}
	</select>
	<select id="getComplaintByCompanyId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT  <include refid="Base_Column_List"/> FROM SZ_COMPLAINT WHERE  COMPANYID = #{companyid,jdbcType=VARCHAR} and DISPOSESTATUS=#{status,jdbcType=VARCHAR}
	</select>
	<select id="getComplaintByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT  <include refid="Base_Column_List"/> FROM SZ_COMPLAINT WHERE (to_char(sysdate,'yyyymmdd')-COMPLAINTIME)&lt;= 10000 AND OPENID = #{openid,jdbcType=VARCHAR} ORDER BY TO_NUMBER(COMPLAINTIME) DESC
	</select>
		<select id="getComplaintInfoByPid" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT  <include refid="Base_Column_List"/> FROM SZ_COMPLAINT WHERE (to_char(sysdate,'yyyymmdd')-COMPLAINTIME)&lt;= 10000 AND PID = #{pid,jdbcType=VARCHAR} 
	</select>

	<select id="getComplaintInfo" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT  <include refid="Base_Column_List"/> FROM SZ_COMPLAINT
	</select>
	
	 <select id="getMoreComplaintInfo" parameterType="java.lang.String" resultMap="ClassResultMap">
        select a.PID,a.COMPANYID,a.COMPLAINTIME,a.DISPOSESTATUS,a.COMPLAINCONTENT,a.DISPOSETIME,a.DISPOSEDEP,a.DISPOSERESULT,a.OPENID,b.COMPANYNAME from SZ_COMPLAINT a LEFT OUTER JOIN SZ_COMPANYINFO b on a.COMPANYID=b.COMPANYCODE
    </select>
    <!-- 使用resultMap映射实体类和字段之间的一一对应关系 -->
    <resultMap type="com.sz.wechat.entity.Complaint" id="ClassResultMap">
      <id column="PID" property="pid" jdbcType="VARCHAR"/>
		<result column="COMPANYID" property="companyid" jdbcType="VARCHAR"/>
		<result column="COMPLAINTIME" property="complaintime" jdbcType="VARCHAR"/>
		<result column="DISPOSESTATUS" property="disposestatus" jdbcType="VARCHAR"/>
		<result column="COMPLAINCONTENT" property="complaincontent" jdbcType="VARCHAR"/>
		<result column="DISPOSETIME" property="disposetime" jdbcType="VARCHAR"/>
		<result column="DISPOSEDEP" property="disposedep" jdbcType="VARCHAR"/>
		<result column="COMPLAINTYPE" property="complaintype" jdbcType="VARCHAR"/>
		<result column="DISPOSERESULT" property="disposeresult" jdbcType="VARCHAR"/>
		<result column="OPENID" property="openid" jdbcType="VARCHAR"/>
		<result column="COMPLAINPHOTO" property="complainphoto" jdbcType="BLOB"/>
				<result column="FEEDBACK" property="feedback" jdbcType="VARCHAR"/>
        <association property="companyinfo" javaType="com.sz.wechat.entity.CompanyInfo">
            <id column="COMPANYCODE" property="companycode" jdbcType="VARCHAR"/>
		<result column="COMPANYNAME" property="companyname" jdbcType="VARCHAR"/>
		<result column="COMPANYTYPE" property="companytype" jdbcType="VARCHAR"/>
		<result column="LEGALPERSON" property="legalperson" jdbcType="VARCHAR"/>
		<result column="REGISTCAPITAL" property="registcapital" jdbcType="VARCHAR"/>
		<result column="CREATETIME" property="createtime" jdbcType="VARCHAR"/>
		<result column="COMPANYADDRESS" property="companyaddress" jdbcType="VARCHAR"/>
		<result column="OPERATESTART" property="operatestart" jdbcType="VARCHAR"/>
		<result column="OPERATEEND" property="operateend" jdbcType="VARCHAR"/>
		<result column="OPERATESCOPE" property="operatescope" jdbcType="VARCHAR"/>
		<result column="REGISTEROFFICE" property="registeroffice" jdbcType="VARCHAR"/>
		<result column="FILETIME" property="filetime" jdbcType="VARCHAR"/>
		<result column="COMPANYSTATUS" property="companystatus" jdbcType="VARCHAR"/>
		<result column="COMPANYINTRO" property="companyintro" jdbcType="VARCHAR"/>
		<result column="LICENCE" property="licence" jdbcType="VARCHAR"/>
		<result column="CERTIFICATETIME" property="certificatetime" jdbcType="VARCHAR"/>
		<result column="VALIDTIME" property="validtime" jdbcType="VARCHAR"/>
		<result column="APTITUDESTATE" property="aptitudestate" jdbcType="VARCHAR"/>
		<result column="COMPANYRECODE" property="companyrecode" jdbcType="VARCHAR"/>
		<result column="LXFS" property="lxfs" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
	
	
	
	<!--修改  -->
		 <update id="updateStatusByPid" parameterType="com.sz.wechat.entity.Complaint">
	 	update SZ_COMPLAINT set DISPOSESTATUS = #{disposestatus,jdbcType=VARCHAR},DISPOSETIME = #{disposetime,jdbcType=VARCHAR} WHERE PID=#{pid,jdbcType=VARCHAR}
	 </update>
		 <update id="updateStatusandFeedByPid" parameterType="com.sz.wechat.entity.Complaint">
	 	update SZ_COMPLAINT set DISPOSESTATUS = #{disposestatus,jdbcType=VARCHAR},DISPOSETIME = #{disposetime,jdbcType=VARCHAR},DISPOSERESULT=#{disposeresult,jdbcType=VARCHAR} WHERE PID=#{pid,jdbcType=VARCHAR}
	 </update>
	<!--插入  -->
	 <insert id="insertComplaint" parameterType="com.sz.wechat.entity.Complaint">
  insert into SZ_COMPLAINT
   (PID,COMPANYID,COMPLAINTIME,DISPOSESTATUS,COMPLAINCONTENT,DISPOSETIME,DISPOSEDEP,COMPLAINTYPE,DISPOSERESULT,OPENID,COMPLAINPHOTO)
    values
   (#{pid},#{companyid},#{complaintime},#{disposestatus},#{complaincontent},#{disposetime},#{disposedep},#{complaintype},#{disposeresult},#{openid},#{complainphoto})
 </insert>
 
	<select id="getComplaintCountByCompanyIdAndOpenid" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*) from SZ_COMPLAINT where COMPANYID = #{companyid,jdbcType=VARCHAR} and OPENID = #{openid,jdbcType=VARCHAR}
		</select>
		<select id="getComplaintCountByCompanyId" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*) from SZ_COMPLAINT where COMPANYID = #{companyid,jdbcType=VARCHAR} and DISPOSESTATUS=#{status,jdbcType=VARCHAR}
		</select>
</mapper>