<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sz.wechat.dao.CompanyInfoMapper">
	<!-- 实体对象 -->
	<resultMap id="BaseResultMap" type="com.sz.wechat.entity.CompanyInfo">
		<id column="COMPANYCODE" property="companycode" jdbcType="VARCHAR"/>
		<result column="COMPANYNAME" property="companyname" jdbcType="VARCHAR"/>
		<result column="COMPANYTYPE" property="companytype" jdbcType="VARCHAR"/>
		<result column="LEGALPERSON" property="legalperson" jdbcType="VARCHAR"/>
		<result column="REGISTCAPITAL" property="registcapital" jdbcType="VARCHAR"/>
		<result column="CREATETIME" property="createtime" jdbcType="VARCHAR"/>
		<result column="COMPANYADDRESS" property="companyaddress" jdbcType="VARCHAR"/>
		<result column="OPERATESTART" property="operatestart" jdbcType="VARCHAR"/>
		<result column="OPERATEEND" property="operateend" jdbcType="VARCHAR"/>
		<result column="OPERATESCOPE" property="operatescope" jdbcType="VARCHAR"/>
		<result column="REGISTEROFFICE" property="registeroffice" jdbcType="VARCHAR"/>
		<result column="FILETIME" property="filetime" jdbcType="VARCHAR"/>
		<result column="COMPANYSTATUS" property="companystatus" jdbcType="VARCHAR"/>
		<result column="COMPANYINTRO" property="companyintro" jdbcType="VARCHAR"/>
		<result column="LICENCE" property="licence" jdbcType="VARCHAR"/>
		<result column="CERTIFICATETIME" property="certificatetime" jdbcType="VARCHAR"/>
		<result column="VALIDTIME" property="validtime" jdbcType="VARCHAR"/>
		<result column="APTITUDESTATE" property="aptitudestate" jdbcType="VARCHAR"/>
		<result column="COMPANYRECODE" property="companyrecode" jdbcType="VARCHAR"/>
		<result column="LXFS" property="lxfs" jdbcType="VARCHAR"/>
	</resultMap>
	<!-- 数据字段 -->
	<sql id="Base_Column_List">
		COMPANYCODE, COMPANYNAME, COMPANYTYPE, LEGALPERSON, REGISTCAPITAL, CREATETIME, COMPANYADDRESS, OPERATESTART, OPERATEEND, OPERATESCOPE, REGISTEROFFICE, FILETIME, COMPANYSTATUS, COMPANYINTRO, LICENCE, CERTIFICATETIME, VALIDTIME, APTITUDESTATE, COMPANYRECODE,LXFS 
	</sql>
	<!-- 查询 -->
	<select id="getCompanyByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT <include refid="Base_Column_List"/> FROM SZ_COMPANYINFO WHERE  COMPANYCODE = #{companycode,jdbcType=VARCHAR}
	</select>
	<select id="getCompanyByCodeAndType" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT <include refid="Base_Column_List"/> FROM SZ_COMPANYINFO WHERE  COMPANYCODE = #{param1,jdbcType=VARCHAR} AND COMPANYTYPE=#{param2,jdbcType=VARCHAR}
	</select>
	<select id="getCompanyInfo" resultMap="BaseResultMap" >
		SELECT <include refid="Base_Column_List"/> FROM SZ_COMPANYINFO
	</select>
	<select id="getFaceByLicence" resultType="java.lang.String" >
		SELECT safelevel from sz_match_shipinsafelevel where permitnum = #{param1,jdbcType=VARCHAR}
	</select>
</mapper>