<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sz.wechat.dao.FootprintMapper">
	<!-- 实体对象 -->
	<resultMap id="BaseResultMap" type="com.sz.wechat.entity.Footprint">
		<result column="PID" property="pid" jdbcType="VARCHAR"/>
		<result column="OPENID" property="openid" jdbcType="VARCHAR"/>
		<result column="COMPANYCODE" property="companycode" jdbcType="VARCHAR"/>
		<result column="SCORE" property="score" jdbcType="VARCHAR"/>
		<result column="COMPLAINTFLAG" property="complaintflag" jdbcType="VARCHAR"/>
		<result column="VISITTIME" property="visittime" jdbcType="VARCHAR"/>
		<result column="PAYSTATUS" property="paystatus" jdbcType="VARCHAR"/>
		<result column="COMPANYNAME" property="companyname" jdbcType="VARCHAR"/>
		<result column="COMPLAINTPID" property="complaintpid" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="Base_Column_List">
		PID, OPENID, COMPANYCODE, SCORE, COMPLAINTFLAG, VISITTIME, PAYSTATUS,COMPANYNAME,COMPLAINTPID
	</sql>
	<select id="getFootprintByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
			SELECT <include refid="Base_Column_List"/> FROM SZ_FOOTPRINT  WHERE  OPENID = #{openid,jdbcType=VARCHAR}
		</select>
	    <select id="getFootprintByComplaintpid" resultMap="BaseResultMap" parameterType="java.lang.String">
			SELECT <include refid="Base_Column_List"/> FROM SZ_FOOTPRINT  WHERE  COMPLAINTPID = #{complaintpid,jdbcType=VARCHAR}
		</select>
	    <select id="getDisFootprintByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
			SELECT DISTINCT COMPANYCODE,COMPANYNAME,COMPLAINTPID,VISITTIME FROM SZ_FOOTPRINT  WHERE  OPENID = #{openid,jdbcType=VARCHAR}
		</select>
		<!-- 插入  guan -->
	<insert id="doInserFootPrint" parameterType="com.sz.wechat.entity.Footprint">
	INSERT INTO SZ_FOOTPRINT
		  (PID, OPENID, COMPANYCODE, SCORE, COMPLAINTFLAG, VISITTIME, PAYSTATUS, COMPANYNAME,COMPLAINTPID)
		values
		  (#{pid,jdbcType=VARCHAR},#{openid,jdbcType=VARCHAR},#{companycode,jdbcType=VARCHAR},#{score,jdbcType=VARCHAR},#{complaintflag,jdbcType=VARCHAR},#{visittime,jdbcType=VARCHAR},#{paystatus,jdbcType=VARCHAR},#{companyname,jdbcType=VARCHAR},#{complaintpid,jdbcType=VARCHAR})
	</insert>
	
	<!--修改  -->
		 <update id="updatePrintByComplaintpidandFlag" parameterType="com.sz.wechat.entity.Footprint">
	 	update SZ_FOOTPRINT set COMPLAINTPID = #{complaintpid,jdbcType=VARCHAR},COMPLAINTFLAG=#{complaintflag,jdbcType=VARCHAR} WHERE PID=#{pid,jdbcType=VARCHAR}
	 </update>
</mapper>