<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sz.wechat.dao.LogInfoMapper">
	<!-- 实体对象 -->
	<resultMap id="BaseResultMap" type="com.sz.wechat.entity.LogInfo">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="OPENID" property="openid" jdbcType="VARCHAR"/>
		<result column="SEX" property="sex" jdbcType="VARCHAR"/>
		<result column="LANGUAGE" property="language" jdbcType="VARCHAR"/>
		<result column="INSERTTIME" property="inserttime" jdbcType="VARCHAR"/>
		<result column="VISITPAGE" property="visitpage" jdbcType="VARCHAR"/>
		<result column="COUNTRY" property="country" jdbcType="VARCHAR"/>
	</resultMap>

 <insert id="insertLog" parameterType="com.sz.wechat.entity.LogInfo">
  insert into SZ_LOG
   (NICKNAME,OPENID,SEX,LANGUAGE,INSERTTIME,VISITPAGE,COUNTRY)
    values
   (#{nickname},#{openid},#{sex},#{language},#{inserttime},#{visitpage},#{country})
 </insert>
</mapper>