<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sz.wechat.dao.LogInfoMapper">
	<!-- 实体对象 -->
	<resultMap id="BaseResultMap" type="com.sz.wechat.entity.LogInfo">
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
		<result column="OPENID" property="openid" jdbcType="VARCHAR"/>
		<result column="SEX" property="sex" jdbcType="VARCHAR"/>
		<result column="LANGUAGE" property="language" jdbcType="VARCHAR"/>
		<result column="INSERTTIME" property="inserttime" jdbcType="VARCHAR"/>
		<result column="VISITPAGE" property="visitpage" jdbcType="VARCHAR"/>
		<result column="COUNTRY" property="country" jdbcType="VARCHAR"/>
		<result column="CITY" property="city" jdbcType="VARCHAR"/>
		<result column="PROVINCE" property="province" jdbcType="VARCHAR"/>
		<result column="HEADIMGURL" property="headimgurl" jdbcType="VARCHAR"/>
		<result column="SUBSCRIBE_TIME" property="subscribe_time" jdbcType="VARCHAR"/>
		<result column="CHNTITLE" property="chntitle" jdbcType="VARCHAR"/>
		<result column="COMPANYNAME" property="companyname" jdbcType="VARCHAR"/>
		<result column="OTHERPARAM" property="otherparam" jdbcType="VARCHAR"/>
	</resultMap>
<sql id="Base_Column_List">
		NICKNAME, OPENID, SEX, LANGUAGE, INSERTTIME, VISITPAGE, COUNTRY,CITY,PROVINCE,HEADIMGURL,SUBSCRIBE_TIME,CHNTITLE,COMPANYNAME,OTHERPARAM
	</sql>
	<select id="getLogByOpenid" resultMap="BaseResultMap" parameterType="java.lang.String">
			SELECT <include refid="Base_Column_List"/> FROM SZ_LOG  WHERE  OPENID = #{openid,jdbcType=VARCHAR} ORDER BY INSERTTIME DESC
		</select>
 <insert id="insertLog" parameterType="com.sz.wechat.entity.LogInfo">
  insert into SZ_LOG
   (NICKNAME,OPENID,SEX,LANGUAGE,INSERTTIME,VISITPAGE,COUNTRY,CITY,PROVINCE,HEADIMGURL,SUBSCRIBE_TIME,CHNTITLE,COMPANYNAME,OTHERPARAM)
    values
   (#{nickname},#{openid},#{sex},#{language},#{inserttime},#{visitpage},#{country},#{city},#{province},#{headimgurl},#{subscribe_time,jdbcType=VARCHAR},#{chntitle,jdbcType=VARCHAR},#{companyname,jdbcType=VARCHAR},#{otherparam,jdbcType=VARCHAR})
 </insert>
</mapper>