<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sz.wechat.dao.MenuMapper">
	<!-- 实体对象 -->
	<resultMap id="BaseResultMap" type="com.sz.wechat.entity.Menu">
		<id column="MENUID" property="menuid" jdbcType="VARCHAR"/>
		<result column="MENUNAME" property="menuname" jdbcType="VARCHAR"/>
		<result column="MENUTYPE" property="menutype" jdbcType="VARCHAR"/>
		<result column="FEATURE" property="feature" jdbcType="VARCHAR"/>
		<result column="PRICE" property="price" jdbcType="VARCHAR"/>
		<result column="PATH" property="path" jdbcType="VARCHAR"/>
		<result column="COMPANYCODE" property="companycode" jdbcType="VARCHAR"/>
		<result column="MENUPHOTO" property="menuphoto"/>
	</resultMap>
	<!-- 数据字段 -->
	<sql id="Base_Column_List">
		 MENUID, MENUNAME, MENUTYPE, FEATURE, PRICE, MENUPHOTO,PATH,COMPANYCODE
	</sql>
	<!-- 查询 -->
	<select id="getMenu" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT <include refid="Base_Column_List"/> FROM SZ_MENU WHERE COMPANYCODE=#{companycode,jdbcType=VARCHAR}
	</select>
	<select id="getMenuByMenuId" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT <include refid="Base_Column_List"/> FROM SZ_MENU WHERE MENUID = #{menuid,jdbcType=VARCHAR}
	</select>
	<!-- 插入 -->
	<insert id="doInsertBlob" parameterType="com.sz.wechat.entity.Menu" >
		INSERT INTO SZ_MENU
		  (MENUID, MENUNAME, MENUTYPE,COMPANYCODE, FEATURE, PRICE,PATH, MENUPHOTO)
		VALUES
		  (#{menuid,jdbcType=VARCHAR},#{menuname,jdbcType=VARCHAR},#{menutype,jdbcType=VARCHAR},#{companycode,jdbcType=VARCHAR},#{feature,jdbcType=VARCHAR},#{price,jdbcType=VARCHAR},#{path,jdbcType=VARCHAR},#{menuphoto,jdbcType=BLOB})
	</insert>
</mapper>